* {
    margin : 0;
    padding : 0;
    font-family : "나눔 고딕", 'NanumGothic', '맑은 고딕', Gothic;
}
.log{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first{
    width: 100%;
    height: 300px;
    background-color: #c31b2e;
}
.second{
    width: 100%;
    height: 300px;
    background-color: #eeede3;
}
footer {
    width: 100%;
    height: 100px;
    background-color: #334d61;
}
i{
    color : 666666;
}
.portal-container{
    margin-top: 20px;
    font-size: large;
}
.portal{
    padding-right: 20px;
}
.log-sejong{
    padding-left: 1%;
}
.LACRAS{
    justify-content: center;
}
a{
    text-decoration: none;
    width : 15%
}
a:visited{
    color: black;
}
a:link{
    color: black;
}
a:hover{
    color: #c31b2e;
}
#main-footer{
    color: white;
    justify-content: space-between;
    display: flex;
}
.footer-container{
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}
.footer-name{
    font-size: small;
    width: 400px;
    height: 100%;
    padding-top: 20px;
    padding-left: 20px;
}
.first{
    text-align: center;
}
.first-class{
    padding-top: 110px;
    color: white;
    font-size: 40px;
}
.first-eng{
    color: white;
    font-size: 17px;
}
.LACRAS_2{
    width : 30%;
    height : 100%;
    position: relative;
    bottom: 40px;
}
.second{
    text-align: center;
}
.button{
    padding-top: 140px;
}
.second-botton{
    font-size: 30px;
    background-color: #c31b2e;
    color: white;
    border: black;
    width: 300px;
    height: 50px;
}
.lacras{
    position: relative;
    bottom: 100px;
}
